<div class="card text-bg-primary p-5">
  <h2 class="heading">Filtra noticias por país y categoría</h2>
  <form class="vbox" (submit)="searchNews()">
    <div class="form-group">
      <label for="categoryInput" class="form-label">Categoría</label>
      <select [(ngModel)]="selectedCategory" id="categoryInput" name="category" class="form-select">
        <option *ngFor="let category of categories" [value]="category.value">
          {{ category.text }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="countryInput" class="form-label">País</label>
      <select [(ngModel)]="selectedCountry" id="countryInput" name="country" class="form-select">
        <option *ngFor="let country of countries" [value]="country.value">
          {{ country.text }}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-secondary">
      BUSCAR <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </form>
</div>
