.heading {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 32px;
}

.vbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.form-group {
  width: 100%;
}

button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.card {
  width: 80vw;
}
